@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  letter-spacing: 2px;
}

body {
  background-color: #161c2a;
  overflow: overlay;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3adfc1;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #3adfc1;
}

.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161c2a;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#side-menu {
  width: 5em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  border-right: 1px solid #4f546299;
  background-color: #161c2a;
  z-index: 3;
}

@media screen and (max-width: 768px) {
  #side-menu {
    border-right: 0;
    width: 100%;
    height: 3.5em !important;
    top: calc(100vh - 3.5em);
  }
}

#side-menu .logo {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 12.5px;
  top: 60px;
  border-radius: 50%;
  border: 3px solid;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: logoAnimation 0.7s linear alternate infinite;
          animation: logoAnimation 0.7s linear alternate infinite;
}

#side-menu .logo:hover {
  -webkit-animation: none;
          animation: none;
  border: 5px solid #3adfc1;
}

#side-menu .logo img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  #side-menu .logo {
    position: fixed;
    top: 10px;
    left: 10px;
  }
}

@-webkit-keyframes logoAnimation {
  0% {
    border-color: transparent;
  }
  100% {
    border: 5px solid;
    border-color: #3adfc1;
  }
}

@keyframes logoAnimation {
  0% {
    border-color: transparent;
  }
  100% {
    border: 5px solid;
    border-color: #3adfc1;
  }
}

#side-menu .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  #side-menu .menu-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#side-menu .menu-container .menu-icon {
  font-size: 30px;
  text-decoration: none;
  padding: 0.6em 0;
}

@media screen and (max-width: 768px) {
  #side-menu .menu-container .menu-icon {
    padding: 0;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#side-menu .menu-container .menu-icon i {
  color: #b1b2b7;
}

#side-menu .menu-container .menu-icon i:hover {
  color: #3adfc1;
  -webkit-filter: drop-shadow(0px 11px 20px #3adfc1);
          filter: drop-shadow(0px 11px 20px #3adfc1);
}

#side-menu .menu-container .menu-icon .active {
  color: #3adfc1;
  -webkit-filter: drop-shadow(0px 11px 20px #3adfc1);
          filter: drop-shadow(0px 11px 20px #3adfc1);
}

.main-container {
  width: calc(100vw - 5em);
  height: 100vh;
  margin-left: 5em;
  padding: 0 0.5em;
}

@media screen and (max-width: 768px) {
  .main-container {
    width: 100%;
    height: 100vh;
    margin-left: 0;
  }
}

.overlay-layer {
  width: 100%;
  height: 100vh;
  background-color: #161c2ad4;
  position: fixed;
  top: 0;
  opacity: 0;
  visibility: hidden;
  z-index: 1;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.open-overlay {
  opacity: 1;
  visibility: visible;
}

.gift-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background: #161c2a;
  background-size: cover;
  z-index: 3;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gift-container .animate-layer {
  background: black;
  width: 100%;
  height: 100vh;
  position: absolute;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
  display: none;
  z-index: 2;
}

.gift-container .animate-layer-off {
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.gift-container .gift-box {
  width: 280px;
  cursor: pointer;
}

.gift-container .animate-gift-box {
  -webkit-animation: animateGiftBox 1s ease-in-out alternate infinite;
          animation: animateGiftBox 1s ease-in-out alternate infinite;
}

@-webkit-keyframes animateGiftBox {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes animateGiftBox {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.gift-container .gift-txt {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 900;
  font-style: italic;
  margin-top: 0.5em;
}

.gift-container .animate-active {
  -webkit-animation: animateText 0.5s infinite alternate linear;
          animation: animateText 0.5s infinite alternate linear;
}

@-webkit-keyframes animateText {
  0% {
    color: transparent;
  }
  100% {
    color: #3adfc1;
  }
}

@keyframes animateText {
  0% {
    color: transparent;
  }
  100% {
    color: #3adfc1;
  }
}

.gift-container .back-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  left: 5px;
  cursor: pointer;
}

.gift-container .back-arrow i {
  font-size: 3em;
  color: #3adfc1;
}

.home {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home .home-bg-layer {
  width: calc(100vw - 5em);
  height: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 5em;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

@media screen and (max-width: 768px) {
  .home .home-bg-layer {
    width: 100%;
    left: 0;
  }
}

.home .hbd {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), color-stop(85%, #3adfc1));
  background-image: linear-gradient(to bottom, #fff, #3adfc1 85%);
  background-size: cover;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (max-width: 768px) {
  .home .hbd {
    font-size: 5em;
  }
}

@media screen and (max-width: 480px) {
  .home .hbd {
    font-size: 4em;
  }
}

@media screen and (max-width: 320px) {
  .home .hbd {
    font-size: 3em;
  }
}

.home .name {
  font-size: 5em;
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-style: italic;
  font-weight: 900;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#3adfc1), color-stop(75%, #fff));
  background-image: linear-gradient(#3adfc1, #fff 75%);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

@media screen and (max-width: 768px) {
  .home .name {
    font-size: 4em;
  }
}

@media screen and (max-width: 480px) {
  .home .name {
    font-size: 2.5em;
  }
}

.profile {
  width: 210px;
  height: 260px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.profile::before {
  content: '';
  width: 160%;
  height: 160%;
  background-image: conic-gradient(#c90feb 20deg, transparent 120deg);
  position: absolute;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
  z-index: 1;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.profile::after {
  content: '';
  background-image: url("../gallery/profile2.jpeg");
  background-position: center;
  background-size: cover;
  width: 190px;
  height: 240px;
  z-index: 2;
  border-radius: 5px;
}

.gallery {
  display: none;
  width: 100%;
  height: 100%;
}

.gallery .img-collection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

@media screen and (max-width: 768px) {
  .gallery .img-collection {
    padding-bottom: 3.5em;
  }
}

.gallery .img-collection .img-container {
  width: 25%;
}

@media screen and (max-width: 768px) {
  .gallery .img-collection .img-container {
    width: 50%;
  }
}

.gallery .img-collection .img-container img {
  width: 90%;
  border-radius: 3px;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
}

.gallery .img-collection .img-container img:hover {
  -webkit-filter: drop-shadow(0px 5px 4px #3adfc1);
          filter: drop-shadow(0px 5px 4px #3adfc1);
  -webkit-transform: translateY(-2px);
          transform: translateY(-2px);
}

.gallery .view-img-layer {
  width: calc(100vw - 5em);
  height: 100%;
  position: fixed;
  top: 0;
  left: 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  -webkit-transform: scale(0);
          transform: scale(0);
}

@media screen and (max-width: 768px) {
  .gallery .view-img-layer {
    width: 100%;
    left: 0;
  }
}

.gallery .view-img-layer .view-img {
  width: 420px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  .gallery .view-img-layer .view-img {
    width: 50%;
  }
}

@media screen and (max-width: 480px) {
  .gallery .view-img-layer .view-img {
    width: 80%;
  }
}

.wishes {
  display: none;
  height: 100vh;
}

@media screen and (max-width: 768px) {
  .wishes .wishes-collection {
    padding-bottom: 3.5em;
  }
}

.wishes .wishes-collection .wish-card-container {
  margin-bottom: 10px;
}

.wishes .wishes-collection .wish-card-container .wish-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #3adfc1;
  border-top-left-radius: 37px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding: 10px 10px 10px 20px;
}

@media screen and (max-width: 768px) {
  .wishes .wishes-collection .wish-card-container .wish-card {
    width: 90%;
  }
}

.wishes .wishes-collection .wish-card-container .wish-txt {
  color: #000000;
}
/*# sourceMappingURL=main.css.map */