@import url("https://fonts.googleapis.com/css2?family=Padauk:wght@400;700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.preloader {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #161c2a;
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  letter-spacing: 2px;
}

body {
  background-color: #161c2a;
}

#side-menu {
  width: 5em;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: #161c2a;
}

@media screen and (max-width: 768px) {
  #side-menu {
    width: 100%;
    height: 3.5em !important;
    top: calc(100vh - 3.5em);
  }
}

#side-menu .logo {
  width: 55px;
  height: 55px;
  position: absolute;
  left: 12.5px;
  top: 60px;
  border-radius: 50%;
  border: 3px solid;
  padding: 3px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-animation: logoAnimation 0.7s linear alternate infinite;
          animation: logoAnimation 0.7s linear alternate infinite;
}

#side-menu .logo:hover {
  -webkit-animation: none;
          animation: none;
  border: 5px solid #3adfc1;
}

#side-menu .logo img {
  width: 35px;
  height: 35px;
  border-radius: 5px;
}

@media screen and (max-width: 768px) {
  #side-menu .logo {
    position: fixed;
    top: 10px;
    left: 10px;
  }
}

@-webkit-keyframes logoAnimation {
  0% {
    border-color: transparent;
  }
  100% {
    border: 5px solid;
    border-color: #3adfc1;
  }
}

@keyframes logoAnimation {
  0% {
    border-color: transparent;
  }
  100% {
    border: 5px solid;
    border-color: #3adfc1;
  }
}

#side-menu .menu-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 768px) {
  #side-menu .menu-container {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

#side-menu .menu-container .menu-icon {
  font-size: 30px;
  text-decoration: none;
  padding: 0.6em 0;
}

@media screen and (max-width: 768px) {
  #side-menu .menu-container .menu-icon {
    padding: 0;
    font-size: 24px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#side-menu .menu-container .menu-icon i {
  color: #b1b2b7;
}

#side-menu .menu-container .menu-icon i:hover {
  color: #3adfc1;
  -webkit-filter: drop-shadow(0px 11px 20px #3adfc1);
          filter: drop-shadow(0px 11px 20px #3adfc1);
}

#side-menu .menu-container .menu-icon .active {
  color: #3adfc1;
  -webkit-filter: drop-shadow(0px 11px 20px #3adfc1);
          filter: drop-shadow(0px 11px 20px #3adfc1);
}

.gift-container {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: #161c2a;
  background-size: cover;
  z-index: 3;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gift-container .gift-box {
  width: 280px;
}

.gift-container .gift-txt {
  text-align: center;
  font-size: 1.7rem;
  font-weight: 900;
  font-style: italic;
  margin-top: 0.5em;
}

.gift-container .animate-active {
  -webkit-animation: animateText 0.5s infinite alternate linear;
          animation: animateText 0.5s infinite alternate linear;
}

@-webkit-keyframes animateText {
  0% {
    color: transparent;
  }
  100% {
    color: #3adfc1;
  }
}

@keyframes animateText {
  0% {
    color: transparent;
  }
  100% {
    color: #3adfc1;
  }
}

.gift-container .back-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 10px;
  left: 5px;
}

.gift-container .back-arrow i {
  font-size: 3em;
  color: #3adfc1;
}

.home {
  width: calc(100vw - 5em);
  height: 100vh;
  margin-left: 5em;
  padding: 0 0.5em;
}

@media screen and (max-width: 768px) {
  .home {
    width: 100%;
    height: 100vh;
    margin-left: 0;
  }
}

.home .home-bg-layer {
  width: calc(100vw - 5em);
  height: 100%;
  position: fixed;
  z-index: -1;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

@media screen and (max-width: 768px) {
  .home .home-bg-layer {
    width: 100%;
  }
}

.home .hbd {
  font-size: 6em;
  text-transform: uppercase;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .home .hbd {
    font-size: 5em;
  }
}

@media screen and (max-width: 480px) {
  .home .hbd {
    font-size: 4em;
  }
}

@media screen and (max-width: 320px) {
  .home .hbd {
    font-size: 3em;
  }
}

.home .name {
  font-size: 5em;
  text-transform: capitalize;
  font-family: 'Padauk', sans-serif;
  font-style: italic;
  font-weight: 900;
}

@media screen and (max-width: 768px) {
  .home .name {
    font-size: 4em;
  }
}

@media screen and (max-width: 480px) {
  .home .name {
    font-size: 2.5em;
  }
}

.profile {
  width: 210px;
  height: 260px;
  border-radius: 5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.profile::before {
  content: '';
  width: 160%;
  height: 160%;
  background-image: conic-gradient(#c90feb 20deg, transparent 120deg);
  position: absolute;
  -webkit-animation: rotate 2s infinite linear;
          animation: rotate 2s infinite linear;
  z-index: 1;
}

@-webkit-keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.profile::after {
  content: '';
  background-image: url("../gallery/profile2.jpeg");
  background-position: center;
  background-size: cover;
  width: 190px;
  height: 240px;
  z-index: 2;
  border-radius: 5px;
}
/*# sourceMappingURL=main.css.map */