.home {
    width: calc(100vw - 5em);
    height: 100vh;
    margin-left: 5em;
    padding: 0 0.5em;
    @include responsive('tablet') {
        width: 100%;
        height: 100vh;
        margin-left: 0;
    }

    .home-bg-layer {
        // background-image: url('../assets/Bubble-Background.svg');
        width: calc(100vw - 5em);
        height: 100%;
        position: fixed;
        z-index: -1;
        // opacity: 0.8;
        filter: brightness(80%);
        @include responsive('tablet') {
            width: 100%;
        }
    }
    .hbd {
        font-size: 6em;
        text-transform: uppercase;
        font-weight: 900;
        @include responsive('tablet') {
            font-size: 5em;
        }
        @include responsive('mobile') {
            font-size: 4em;
        }
        @include responsive('smallDevice') {
            font-size: 3em;
        }
    }
    .name {
        font-size: 5em;
        text-transform: capitalize;
        font-family: 'Padauk', sans-serif;
        font-style: italic;
        font-weight: 900;
        @include responsive('tablet') {
            font-size: 4em;
        }
        @include responsive('mobile') {
            font-size: 2.5em;
        }
    }
}
