.home {
    width: 100%;
    height: 100%;
    display: flex;
    display: none; //test
    .home-bg-layer {
        // background-image: url('../assets/Bubble-Background.svg'); */ for extra large device /*
        width: calc(100vw - 5em);
        height: 100%;
        position: fixed;
        z-index: -1;
        top: 0;
        left: 5em;
        // opacity: 0.8;
        filter: brightness(80%);
        @include responsive('tablet') {
            width: 100%;
            left: 0;
        }
    }
    .hbd {
        font-size: 6em;
        text-transform: uppercase;
        font-weight: 900;
        background-image: linear-gradient(to bottom, $white, $active-color 85%);
        background-size: cover;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        @include responsive('tablet') {
            font-size: 5em;
        }
        @include responsive('mobile') {
            font-size: 4em;
        }
        @include responsive('smallDevice') {
            font-size: 3em;
        }
    }
    .name {
        font-size: 5em;
        text-transform: capitalize;
        font-family: 'Padauk', sans-serif;
        font-style: italic;
        font-weight: 900;
        background-image: linear-gradient($active-color, $white 75%);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        @include responsive('tablet') {
            font-size: 4em;
        }
        @include responsive('mobile') {
            font-size: 2.5em;
        }
    }
}
