.home {
    width: calc(100vw - 5em);
    height: 100vh;
    margin-left: 5em;
    padding: 0 0.5em;
    @include responsive('tablet') {
        width: 100%;
        height: 100vh;
        margin-left: 0;
    }

    .profile {
        width: 210px;
        height: 260px;
        border-radius: 3px;
        background-color: $main-background;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    .profile::before {
        content: '';
        width: 160%;
        height: 160%;
        background-image: conic-gradient($pink 20deg, transparent 120deg);
        position: absolute;
        animation: rotate 2s infinite linear;
        z-index: 1;
    }

    @keyframes rotate {
        100% {
            transform: rotate(360deg);
        }
    }

    .profile::after {
        content: '';
        background-image: url('../gallery/profile1.jpeg');
        background-position: center;
        background-size: cover;
        width: 190px;
        height: 240px;
        z-index: 2;
        border-radius: 5px;
    }

    .home-bg-layer {
        // background-image: url('../assets/Bubble-Background.svg');
        width: calc(100vw - 5em);
        height: 100%;
        position: fixed;
        z-index: -1;
        // opacity: 0.8;
        filter: brightness(80%);
        @include responsive('tablet') {
            width: 100%;
        }
    }
    .hbd {
        font-size: 6em;
        text-transform: uppercase;
        font-weight: 900;
        @include responsive('tablet') {
            font-size: 5em;
        }
        @include responsive('mobile') {
            font-size: 4em;
        }
        @include responsive('smallDevice') {
            font-size: 3em;
        }
    }
    .name {
        font-size: 5em;
        text-transform: capitalize;
        font-family: 'Padauk', sans-serif;
        font-style: italic;
        font-weight: 900;
        @include responsive('tablet') {
            font-size: 4em;
        }
        @include responsive('mobile') {
            font-size: 2.5em;
        }
    }
}
