#side-menu {
    width: 5em;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    border-right: 1px solid $border-color;
    background-color: $main-background;
    z-index: 3;
    @include responsive('tablet') {
        border-right: 0;
        width: 100%;
        height: 3.5em !important;
        top: calc(100vh - 3.5em);
    }

    .logo {
        width: 55px;
        height: 55px;
        position: absolute;
        left: 12.5px;
        top: 60px;
        border-radius: 50%;
        border: 3px solid;
        padding: 3px;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: logoAnimation 0.7s linear alternate infinite;
        &:hover {
            animation: none;
            border: 5px solid $active-color;
        }

        img {
            width: 35px;
            height: 35px;
            border-radius: 5px;
        }

        @include responsive('tablet') {
            position: fixed;
            top: 10px;
            left: 10px;
        }
    }

    @keyframes logoAnimation {
        0% {
            border-color: transparent;
        }
        100% {
            border: 5px solid;
            border-color: $active-color;
        }
    }

    .menu-container {
        display: flex;
        height: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        @include responsive('tablet') {
            flex-direction: row;
            justify-content: space-around;
            // border-top: 1px solid $border-color;
        }
        .menu-icon {
            font-size: 30px;
            text-decoration: none;
            padding: 0.6em 0;
            @include responsive('tablet') {
                padding: 0;
                font-size: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            i {
                color: $soft-white;
                &:hover {
                    color: $active-color;
                    filter: drop-shadow(0px 11px 20px $active-color);
                }
            }
            .active {
                color: $active-color;
                filter: drop-shadow(0px 11px 20px $active-color);
            }
        }
    }
}
