$main-background: #161c2a;
$white: #fff;
$letter-spacing: 2px;
$soft-white: #b1b2b7;
$active-color: #3adfc1;
$pink: #c90feb;
$border-color: #4f546299;
$overlay-color: #161c2ad4;
$black: #000000;
$transition1: 0.3s all ease-in;
$transition2: all 1s linear;
$switch-background: #4f5462f7;
