.wishes {
    height: 100vh;
    .wishes-collection {
        @include responsive('tablet') {
            padding-bottom: 3.5em;
        }

        .wish-card-container {
            .wish-card {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                height: 100%;
                background: #3fc9b6;
                border-top-left-radius: 37px;
                border-top-right-radius: 30px;
                border-bottom-right-radius: 30px;
                padding: 10px 10px 10px 20px;
                @include responsive('tablet') {
                    width: 90%;
                }
            }
            .wish-txt {
                color: black;
            }
        }
    }
}
